{% extends 'main/base.html' %}

{% block title %}
Посты
{% endblock%}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}


{% block main %}
<div class="twitter-style-posts">
  <!-- Пост 1 -->
  {% for post in user_posts %}
    <div class="tweet">
      <div class="tweet-header">
        <img src="https://russian.people.com.cn/NMediaFile/2024/0408/FOREIGN1712567381216Q9C7PEHJ8A.jpg" alt="User" class="tweet-avatar">
        <div class="tweet-user-info">
          <span class="tweet-username">{{ post.user.displayName }}</span>
          <span class="tweet-usertag">@{{ post.user.username }}</span>
          <span class="tweet-time">· {{ post.created_at.strftime('%H:%M  %d.%m.%Y')}}</span>
        </div>
        <div class="tweet-more-options">···</div>
      </div>
      <div class="tweet-content">
        <p>{{ post.content }}</p>
        <!-- <div class="tweet-image">
          <img src="" alt="Tweet image">
        </div> -->
      </div>
      <div class="tweet-footer">
        <div class="tweet-action">
          <i class="far fa-comment"></i>
          <span>{{ post.replies_count }}</span>
        </div>
        <div class="tweet-action">
          <i class="fas fa-retweet"></i>
          <span>12</span>
        </div>
        <div class="tweet-action">
          <i class="far fa-heart"></i>
          <span>{{ post.likes_count }}</span>
        </div>
        <div class="tweet-action">
          <i class="fas fa-share"></i>
        </div>
      </div>
    </div>
  {% endfor %}
  
  <!-- Пост 1 -->
  <div class="tweet">
    <div class="tweet-header">
      <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="User" class="tweet-avatar">
      <div class="tweet-user-info">
        <span class="tweet-username">Иван Петров</span>
        <span class="tweet-usertag">@ivanpetrov</span>
        <span class="tweet-time">· 2 ч назад</span>
      </div>
      <div class="tweet-more-options">···</div>
    </div>
    <div class="tweet-content">
      <p>Сегодня прекрасный день для кодинга! Только что закончил новый проект на Flask. #программирование #webdev</p>
      <div class="tweet-image">
        <img src="https://source.unsplash.com/random/600x300/?coding" alt="Tweet image">
      </div>
    </div>
    <div class="tweet-footer">
      <div class="tweet-action">
        <i class="far fa-comment"></i>
        <span>24</span>
      </div>
      <div class="tweet-action">
        <i class="fas fa-retweet"></i>
        <span>12</span>
      </div>
      <div class="tweet-action">
        <i class="far fa-heart"></i>
        <span>156</span>
      </div>
      <div class="tweet-action">
        <i class="fas fa-share"></i>
      </div>
    </div>
  </div>
</div>

{% endblock %}
